/* #region Root Element */
:root[ data-state="PLAYING" ] #gamepad > div {
  pointer-events: auto;
}

/* #endregion */

/* #region Functional Part */
.bg--white {
  background-color: white;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.d-flex.justify-center {
  justify-content: center;
}

.d-flex.items-center {
  align-items: center;
}

.d-grid {
  display: grid;
}

.d-grid.gridline--black {
  gap: 1px;
  background-color: black;
  border: 1px black solid;
}

.d-grid.grid-row-3 {
  grid-template-rows: repeat( 3, 1fr )
}

.d-grid.grid-col-3 {
  grid-template-columns: repeat( 3, 1fr )
}

.title {
  font-size: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
/* endregion */

/* #region Targeted Part */

#gamepad {
  height: 150px;
  width: 150px;
}

#gamepad > div {
  pointer-events: none;
  cursor: pointer
}

#current::after, #gamepad > div:hover::before {
  content: var( --player-now ); 
}

#gamepad > div.occupied::before {
  content: attr( data-player )
}

#timer > div:nth-child( 1 ):before {
  content: var( --player-0 )
}

#timer > div:nth-child( 2 ):before {
  content: var( --player-1 )
}

/* #endregion */