:host .board-container {
  @apply grid bg-black mb-1;

  width: 150px;
  height: 150px;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  border: 2px solid black;
  gap: 2px;
  border-radius: 2px;
}

:host[data-state="PLAYING"] .box[data-player="0"] {
  pointer-events: auto;
}

.box {
  @apply bg-white flex justify-center items-center;

  border-radius: 2px;
  pointer-events: none;
  cursor: pointer;
}

.box[data-player="0"]:hover {
  background-image: var(--player-now);
}

.box[data-player="1"] {
  background-image: var(--player-A);
}

.box[data-player="2"] {
  background-image: var(--player-B);
}
