:host {
  @apply grid bg-black mb-1;

  width: 150px;
  height: 150px;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  border: 2px solid black;
  gap: 2px;
  border-radius: 2px;
}

.box {
  @apply bg-white flex justify-center items-center;

  border-radius: 2px;
}
